html,body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    overflow:hidden;
    background:black;
    font-family:Arial;
    }

    canvas{
    position:fixed;
    inset:0;
    }

    #panel{

    position:fixed;

    top:10px;
    left:10px;

    z-index:100;

    padding:15px;

    border-radius:15px;

    background:rgba(0,0,0,.7);

    backdrop-filter:blur(10px);

    color:white;

    max-width:260px;
    }

    button,
    select,
    input{

    width:100%;

    margin-top:8px;

    }

    label{

    display:block;

    margin-top:10px;

    }
}